.main {
  display: flex;
  font-size: 3.3rem;
  color: white;
  width: 100%;
  margin: 5rem auto;
  max-width: 100rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .main {
    font-size: 2rem !important;
  }
  .heading {
    gap: 2rem !important;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  line-height: 5rem;
  gap: 5rem;
}

.fImage {
  width: 40%;
}
