.main {
  display: flex;
  font-size: 3.3rem;
  color: white;
  width: 100%;
  margin: 2rem auto;
  max-width: 100rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  animation: Fade-Enlarge 0.6s ease-out;
}

@media screen and (max-width: 500px) {
  .main {
    font-size: 2rem !important;
  }
  .heading {
    gap: 2rem !important;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  line-height: 5rem;
  gap: 5rem;
}

.fImage {
  width: 40%;
}

@keyframes Fade-Enlarge {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
