.cardContainer {
  display: grid;
  row-gap: 4rem;
  column-gap: 4rem;
  width: 80%;
  margin: 1rem auto;
  max-width: 140rem;
  min-width: 20rem;
  padding: 2rem 0rem;
  grid-auto-rows: 1fr;
}
@media screen and (min-width: 1300px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 850px) and (max-width: 1300px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 500px) and (max-width: 850px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem !important;
    row-gap: 2rem !important;
    width: 90%;
  }
  .result {
    font-size: 2rem !important;
  }
}

.error {
  margin-top: 6rem;
  color: white;
  font-size: large;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.spinner-loading {
  margin-top: 4rem;
}

.result {
  margin-top: 2.5rem;
  color: white;
  font-size: 3rem;
}
