.showCard {
  justify-self: stretch !important;
  align-self: stretch !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: none !important;
}

.showCard:hover {
  transform: scale(1.02);
  transition: all 0.4s ease;
}
/* @media screen and (min-width: 1100px) {
  .showCard {
    width: 100% !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .showCard {
    width: 100% !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .showCard {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .showCard {
    width: 100% !important;
  }
} */

.name {
  padding-bottom: 6px;
  color: white !important;
}

.white {
  color: white !important;
}

.yellow {
  color: rgba(255, 255, 0, 0.84) !important;
}

.date {
  color: rgba(255, 255, 255, 0.7) !important;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0) !important;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.495);
  width: 80%;
  margin: auto;
}
