.nav-container {
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(25, 25, 25, 255);
  height: 60px;
  transition: all 1s ease-in-out;
  z-index: 2;
  font-size: 1.8rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  max-width: 1400px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2.5rem;
  padding-left: 4rem;
  color: white;
  font-weight: 600;
}

.nav-left img {
  width: 4rem;
  height: 4rem;
  animation: Fade 0.4s ease;
}

.nav-left .name {
  padding-top: 0.4rem;
}

.nav-right {
  padding-right: 4rem;
}

@media screen and (max-width: 400px) {
  .name {
    display: none;
  }
}

@keyframes Fade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
