.nav-container {
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(20, 20, 20, 0.95);
  height: 60px;
  transition: all 1s ease-in-out;
  z-index: 2;
  font-size: 1.8rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.sticky2 {
  position: sticky;
  top: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

.nav-left {
  width: calc(33.334% - 4rem);
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 4rem;
  gap: 1.5rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

.nav-left img {
  width: 4rem;
  height: 4rem;
  animation: Fade 0.4s ease;
}

.nav-left .name {
  padding-top: 0.4rem;
}

.nav-middle {
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.65);
  gap: 2rem;
  margin-left: 4rem;
}

.nav-right {
  width: calc(33.334%);
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  padding-right: 4rem;
}

.navbar2 {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1400px;
  height: 50px;
}

.backButton {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  z-index: 2;
}

.backButton i:hover {
  color: white;
}

.backButton i {
  border-radius: 50%;
  padding: 0.8rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 2rem;
}

.github {
  color: white;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  padding-right: 5rem;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .name {
    display: none;
  }
  .fav-name {
    display: none;
  }
}

@keyframes Fade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
