* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhai 2", cursive;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  /* 1rem --> 16px
  10px/16px = 0.625*100=62.5% */
}

@media screen and (max-width: 600px) {
  html {
    font-size: 56.5%; /* 1 rem = 7.5px */
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  html {
    font-size: 56.5%; /* 1 rem = 8px */
  }
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500;600;700&display=swap");

body {
  background-color: rgba(33, 33, 33, 255) !important;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Baloo Bhai 2", cursive, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s !important;
}
